//  ================= Variables ======================
$color-prim: white;
$color-sec: silver;
$color-hover: white;
$color-bg: rgb(27, 31, 38);
$img-filter: brightness(0) invert(1);
$border-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
